.list-container {
    display : flex;
    flex-direction : column;
}

.list-title {
    margin-top : 2rem;
    font-weight : 800;
}

.process-container {
    display : flex;
    flex-wrap : wrap;
    flex-direction : row;
    justify-content : flex-start;
    align-items:center;
    gap : 1rem;
}